.panel.panel-default
  .panel-heading
    - if @car.new_record?
      = I18n.t('titles.new_model', model: Car.model_name.human)
    - else
      = I18n.t('titles.edit_model', model: Car.model_name.human)
  .panel-body
    = form_for @car do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :start_distance
        = f.text_field :start_distance, class: 'form-control', type: :number

      .form-group
        = f.label :start_date
        = f.text_field :start_date, class: 'form-control', type: 'date'

      .form-group
        = f.label :start_price
        = f.text_field :start_price, class: 'form-control', type: :number

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'

- unless @car.new_record?
  .panel.panel-danger
    .panel-heading
      = I18n.t('titles.destroy_model', model: Car.model_name.human)
    .panel-body
      = link_to I18n.t('buttons.delete'), car_path(@car),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: I18n.t('confirm_delete_named', name: @car.name) }
