%h1= Car.model_name.human(count: 2)

%table.table
  %thead
    %tr
      %th= Car.human_attribute_name(:name)
      %th= I18n.t('action_column')

  - @cars.each do |car|
    %tr
      %td= car.name
      %td
        %a.btn.btn-default{href: edit_car_path(car)}
          = I18n.t('buttons.edit')
        %a.btn.btn-primary{href: summary_car_path(car)}
          = t('.summary_button')

.row
  .col-md-2
    %a.btn.btn-success{href: new_car_path}
      = I18n.t('buttons.create_model', model: Car.model_name.human)
