%h1= t('.title', car: @statistics.car.name)

.row
  .col-md-6.col-sm-12
    .panel.panel-default
      .panel-heading
        = t('.totals_title')
      .panel-body
        %dl
          %dt= t('.distance')
          %dd= "#{human_number @statistics.logged_distance} km"
          %dt= t('.cost')
          - @statistics.logged_costs.each do |name, cost|
            %dd= "#{name}: #{human_number cost} €"
          %dt= t('.consumption')
          - @statistics.logged_consumptions.each do |fuel, units|
            %dd= "#{human_number units} #{fuel.unit}"
          %dt= t('.duration')
          %dd= "#{human_number @statistics.logging_duration} days"

.row
  .col-md-6.col-sm-12
    .panel.panel-default
      .panel-heading
        = t('.by_distance_title')
      .panel-body
        %dl
          %dt= t('.cost')
          - @statistics.costs_per_km.each do |name, cost|
            %dd= "#{name}: #{human_number cost} ct/km"
          %dt= t('.consumption')
          - @statistics.consumptions_per_km.each do |fuel, consumption_per_km|
            %dd= "#{human_number consumption_per_km * 100} #{fuel.unit}/100 km"

  .col-md-6.col-sm-12
    .panel.panel-default
      .panel-heading
        = t('.by_time_title')
      .panel-body
        %dl
          %dt= t('.cost')
          - @statistics.costs_per_day.each do |name, cost|
            %dd= "#{name}: #{human_number cost} €/a"
          %dt= t('.consumption')
          - @statistics.consumptions_per_day.each do |fuel, consumption_per_day|
            %dd= "#{human_number consumption_per_day * 365} #{fuel.unit}/a"
          %dt= t('.distance')
          %dd= "#{human_number(@statistics.distance_per_day * 365)} km/a"
