.panel.panel-default
  .panel-heading
    = I18n.t('titles.new_model', model: FuelLog.model_name.human)
  .panel-body
    = form_for FuelLog.new do |f|
      .form-group
        = f.label :car_id
        = f.collection_select :car_id, Car.all, :id, :name,
                              { selected: Car.last.id },
                              class: 'form-control'

      .form-group
        = f.label :time
        = f.text_field :time, class: 'form-control',
                              type: 'datetime-local',
                              value: @default_time

      .form-group
        = f.label :fuel_used
        .input-group
          .input-group-addon L
          = f.text_field :fuel_used, class: 'form-control', type: 'number', step: '0.01'

      .form-group
        = f.label :fuel_price
        .input-group
          .input-group-addon € / L
          = f.text_field :fuel_price, class: 'form-control', type: 'number', step: '0.001'

      .form-group
        = f.label :distance
        .input-group
          .input-group-addon km
          = f.text_field :distance, class: 'form-control', type: 'number', step: '0.1'

      = f.submit I18n.t('buttons.save'), class: 'btn btn-success'
